




<form>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Please! choose one the following alternatives</label>
    <div class="panel panel-default">
      <div class="panel-body">
       <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="defoliate" value="defoliate" > System to be defoliated
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="merge" value="merge"> Systems that can be merged
          </label>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="form-group">
    <label for="exampleInputEmail1">System name</label>
    <input type="text" class="form-control" id="systemname" placeholder="Systemname">
  </div>
    <div class="form-group">
    <label for="exampleInputCompartment1">Compartment</label>
    <input type="text" class="form-control" id="compartment" placeholder="Compartment">
  </div>
  
    <div class="form-group">
    <label for="exampleInputDescription1">Description</label>
    <textarea class="form-control" rows="3" id="description" placeholder="Description"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleInputSolution1">Solution</label>
      <textarea class="form-control" rows="3" id="solution" placeholder="Solution"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
