<div class="row">
   <div class="col-md-6">
    <ques-killsystem></ques-killsystem>
  </div>
  <div class="col-md-6">
    
  <div class="panel panel-body">
    <div class="panel-body">
      A little description about the idea and how to answer the questions below.
      <p> <p> Choose please if your tips is about to defoliate a system or to merge some systems together.
      <p>System name: Type the name of the system to be defoliated, or the systems that can be merged with a comma separated text
      <p>Description: Write some description about the current state of the system/sytems
      <p>Solutions: if you have a solution, please! let us know.
    </div>
  </div>
</div>

</div>